html {
  box-sizing: border-box;
}

*, *:before,* :after {
 box-sizing: border-box;
}

body {
  background-color: blue;
  font-size: 20px;
  display: block;
}



.container {
  background-color: orange;
  width: 400px;
  margin: auto;
  padding-bottom: 20px;
}

.title {
  background-color: #D8D8D8;
  text-align: center;
  padding: 30px;
  font-size: 16px;
  font-family: open sans;
  text-transform: uppercase;
  color: #616161;

}

.preview-baku {
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.baku {
  width: 400px;
  position: relative;
  background-image: url(../images/baku.jpg);
  background-position: left;
}

.baku-text {
  color: black;
  position: absolute;
  top: 50px;
  left: 40px;
}

.preview-london {
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.london {
  width: 400px;
  position: relative;
  background-image: url(../images/london.png);
  background-position: left;
}

.london-text {
  color: black;
  position: absolute;
  top: 50px;
  left: 40px;

}

.preview-madrid {
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.madrid {
  width: 400px;
  position: relative;
  background-image: url(..images/madrid.jpg);
  background-position: left;
}

.madrid-text {
  color: black;
  position: absolute;
  top: 50px;
  left: 40px;

}

.preview-rome{
  margin-bottom: 20px;
  position: relative;
  display: inline-block;

}

.rome {
  width: 400px;
  position: relative;
  background-image: url(../images/rome.jpg);
  background-position: left;
}

.rome-text {
  color: black;
  position: absolute;
  top: 50px;
  left: 40px;
}

@media screen and (min-width: 600px){
   div {
    margin: 1%;
    width: 48%;
  }
}
